{% extends 'base.html'%}
{%block content%}
<html>
<head>
<title>Welcome</title>
</head>
    <body style="display:block; margin-left: auto; margin-right: auto; width: 80%;">
    	<div align="center" style="background-color:black; margin:0px; padding:10px; color:gold">
    		<p><h1>Surjit Programming Lab</h1> </p>
    	</div>
    	<div><ul style="color:white; list-style-type:none; background-color:red; display:flex; font-weight:bold; margin:0px; padding:0px;">
    		<li style="margin-left:30px"><p>Home</p></li>
    		<li style="margin-left:30px"><p><A href="second/">Artificial Intelligence</A></p></li>
    		<li style="margin-left:30px"><p><A href="third/">Machine Learning</A></p></li>
			<li style="margin-left:30px"><p><A href="forth/">Deep Learning</A></p></li>
			<li style="margin-left:30px"><p><A href="fifth/">Django</A></p></li>
			<li style="margin-left:30px"><p>Flask</p></li>
    		<li style="margin-left:30px"><p>About</p></li>
    		<li style="margin-left:30px"><p><A href="login/">Login</A></p></li>
 
    	</ul></div>    
        <center>
			<div>
			<p><h1>ਮਰਜਾਨੀ ਕਿਰਨ</h1></p>
			<img src="https://upload.wikimedia.org/wikipedia/commons/2/2e/Mud_buffalo.jpg" style="width:400px; height:400px">
			</center>
		</div>
    </body>

</html>
{%endblock content%}